@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: var(--font-figtree);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-coolvetica), sans-serif;
}

@layer base {
  :root {
    --background: 0 8% 97%;
    --foreground: 0 0% 12%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 8% 97%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
  .theme {
    --animate-aurora: aurora 8s ease-in-out infinite alternate;
    --animate-gradient: gradient 8s linear infinite;
    --animate-meteor: meteor 5s linear infinite;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .text-stroke-lg {
    -webkit-text-stroke: 8px rgba(0,0,0,0.95); /* fallback to black or any color */
  }

  .text-stroke-md {
    -webkit-text-stroke: 6px rgba(0,0,0,0.95); /* fallback to black or any color */
  }

  .text-stroke-sm {
    -webkit-text-stroke: 4px rgba(0,0,0,0.95); /* fallback to black or any color */
  }

  .text-stroke-dark {
    color: transparent;
    -webkit-text-stroke: 0px white;
    opacity: 10%;
  }

  .text-fill-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-shadow-lg {
    text-shadow:
       0px 2px 0 #1E1E1E,
     -12px 8px 0 #1E1E1E,  
      0px 0px 0 #1E1E1E,
      -0px 0px 0 #1E1E1E,
       0px 0px 0 #1E1E1E;
  }

  .text-shadow-md {
    text-shadow:
       0px 2px 0 #1E1E1E,
     -7px 5px 0 #1E1E1E,  
      0px 0px 0 #1E1E1E,
      -0px 0px 0 #1E1E1E,
       0px 0px 0 #1E1E1E;
  }

  .text-shadow-sm {
    text-shadow:
       0px 2px 0 #1E1E1E,
     -5px 3px 0 #1E1E1E,  
      0px 0px 0 #1E1E1E,
      -0px 0px 0 #1E1E1E,
       0px 0px 0 #1E1E1E;
  }

  .text-shadow-xl {
    text-shadow: 4px 4px 0 #1E1E1E;
  }

  .text-shadow-3d-lg {
    text-shadow:
      -2px 1px #1E1E1E,
      -2px 2px #1E1E1E,
      -3px 3px #1E1E1E,
      -4px 4px #1E1E1E,
      -5px 5px #1E1E1E,
      -6px 6px #1E1E1E,
      -7px 7px #1E1E1E,
      -8px 8px #1E1E1E;
  }

  .text-shadow-3d-md {
    text-shadow:
      -2px 1px #1E1E1E,
      -2px 2px #1E1E1E,
      -3px 3px #1E1E1E,
      -4px 4px #1E1E1E,
      -5px 5px #1E1E1E,
      -6px 6px #1E1E1E,
  }

  .text-shadow-3d-sm {
    text-shadow:
      -2px 1px #1E1E1E,
      -2px 2px #1E1E1E,
      -3px 3px #1E1E1E,
      -4px 4px #1E1E1E,
  }

  .button-shadow-xl {
    box-shadow: #F5F5F5 -6px 6px 0 0,#1E1E1E -6px 6px 0 2px;
  }

  .button-shadow-primary {
    box-shadow: #F5F5F5 -6px 6px 0 0,#190F88 -6px 6px 0 2px;
  }

  .shadow-none {
    box-shadow:rgb(6, 8, 35) 0px 0px 0px;
  }

  .card-shadow {
    box-shadow: #F5F5F5 -10px 10px 0 0,#1E1E1E -10px 10px 0 1px;
  }

  .perspective-3d {
    perspective: 800px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

}

@theme inline {
  @keyframes aurora {
  0% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  25% {
    background-position: 50% 100%;
    transform: rotate(5deg) scale(1.1);
    }
  50% {
    background-position: 100% 50%;
    transform: rotate(-3deg) scale(0.95);
    }
  75% {
    background-position: 50% 0%;
    transform: rotate(3deg) scale(1.05);
    }
  100% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  }
  @keyframes gradient {
  to {
    background-position: var(--bg-size, 300%) 0;
    }
  }
  @keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
    }
  70% {
    opacity: 1;
    }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
    }
  }
}